<div
  class="container main-header d-flex align-items-center justify-content-between"
>
  <div class="logo-container">
    <img src="../../../../assets/logo.jpg" alt="logo" />
  </div>
  <div class="burger" (click)="toggleMenu()">
    <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }}</i>
  </div>
  <ul class="nav" [class.is-open]="isMenuOpen" (click)="toggleMenu()">
    <li
      class="nav-item d-flex align-items-center"
      *ngFor="let navItem of navItems"
    >
      <a class="nav-link" routerLink="{{ navItem.link }}">
        {{ navItem.name }}
      </a>
    </li>
  </ul>
</div>
