<div class="form-container">
  <div class="form-title">
    <h3>Оставьте заявку на лизинг</h3>
    <p>и получите предварительный расчет</p>
  </div>
  <form class="example-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Предмет лизинга</mat-label>
      <mat-select formControlName="type" id="type">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width form-item" appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput type="text" formControlName="name" id="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width form-item" appearance="fill">
      <mat-label>Мобильный телефон</mat-label>
      <input matInput type="tel" formControlName="tel" />
    </mat-form-field>
    <mat-form-field class="example-full-width form-item" appearance="fill">
      <mat-label>Электронная почта</mat-label>
      <input matInput type="email" formControlName="email" id="email" />
    </mat-form-field>
    <mat-checkbox class="example-margin form-item" formControlName="checked"
      >Я соглашаюсь с условиями предоставления услуги</mat-checkbox
    >
    <div class="form-item">
      <button
        mat-stroked-button
        color="primary"
        [disabled]="contactForm.invalid"
      >
        Отправить заявку!
      </button>
    </div>
  </form>
</div>
